{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">{{ board.name }}</h1>
            </div>
        </div>
        <div class="row margin-right-50">
            <div class="text-left margin-left-30">

                <div class="row">
                    <form class="form-horizontal" role="form" action="{% url 'boards:update_attributes' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <h4 class="margin-left-30 warning-font">Please select new column for attributes:</h4>
                        </div>
                        <div class="form-group">
                            <label for="start_boundary_column" class="col-sm-2 control-label">
                                Start boundary column
                            </label>

                            <div class="col-sm-3">
                                <select id="start_boundary_column" name="start_boundary_column"
                                        class="form-control">
                                    <option value="" >----</option>
                                    {% for col in attribute_columns %}
                                        <option value="{{ col.id }}"
                                                {% if selected_attributes.start_boundary.id == col.id %}
                                                    selected="selected"
                                                {% endif %}>
                                            {{ col.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if errors.error_start_end_same %}
                                <div class="col-sm-3">
                                    <p style="color: RED">Start and end boundary column cannot be the same.</p>
                                </div>
                            {% elif errors.end_before_start %}
                                <div class="col-sm-3">
                                    <p style="color: RED">End column is located before start boundary column.</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="end_boundary_column" class="col-sm-2 control-label">
                                End boundary column
                            </label>

                            <div class="col-sm-3">
                                <select id="end_boundary_column" name="end_boundary_column"
                                        class="form-control">
                                    <option value="" >----</option>
                                    {% for col in attribute_columns %}
                                        <option value="{{ col.id }}"
                                                {% if selected_attributes.end_boundary.id == col.id %}
                                                    selected="selected"
                                                {% endif %}>
                                            {{ col.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="priority_column" class="col-sm-2 control-label">
                                Priority cards column
                            </label>

                            <div class="col-sm-3">
                                <select id="priority_column" name="priority_column"
                                        class="form-control">
                                    <option value="" >----</option>
                                    {% for col in attribute_columns %}
                                        <option value="{{ col.id }}"
                                                {% if selected_attributes.priority.id == col.id %}
                                                    selected="selected"
                                                {% endif %}>
                                            {{ col.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="acceptance_column" class="col-sm-2 control-label">
                                Acceptance column
                            </label>

                            <div class="col-sm-3">
                                <select id="acceptance_column" name="acceptance_column"
                                        class="form-control">
                                    <option value="" >----</option>
                                    {% for col in attribute_columns %}
                                        <option value="{{ col.id }}"
                                                {% if selected_attributes.acceptance.id == col.id %}
                                                    selected="selected"
                                                {% endif %}>
                                            {{ col.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <input type="hidden" name="board_id" value="{{ board.id }}" />
                        <div class="form-group">
                            <button type="submit" class="btn btn-default margin-left-30">Set attributes</button>
                        <div class="form-group">
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}