{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">Boards</h1>
            </div>
        </div>
        {% if user.can_be_kanban_master %}
            <div class="text-right">
                <a href="{% url 'boards:copy_board' %}" id="copyTableButton">
                    <button type="button" class="btn btn-info">
                        Copy board</button>
                </a>
                <a href="#" id="createTableButton">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Create board</button>
                </a>
                {% if error_board_exist %}
                    <p style="color: RED">Board with this name already exists!</p>
                {% endif %}
                <p></p>
            </div>
        {% endif %}
        <div>
            {% if data %}
                <table class="table table-hover" data-link="row">
                    <thead>
                    <th>#</th>
                    <th>Board name</th>
                    {% if  exist_kanbanmaster %}
                        <th>Edit</th>
                        <th>Deadline Notification</th>
                    {% endif %}
                    </thead>
                    <tbody>
                    {% for element in data %}
                        <tr class='clickableRow' href="{% url "boards:show_board" pk=element.board.id %}">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ element.board.name }}</td>
                            {% if element.kanbanmaster %}
                                <td>
                                    <a href="{% url 'boards:editBoard' pk=element.board.id %}">
                                        <button class="btn btn-default btn-sm">Edit board</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'boards:send_notifications' pk=element.board.id %}">
                                        <button class="btn btn-default btn-sm">Send</button>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>There's no project tables.</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#createTableButton").click(function () {
                bootbox.prompt("Enter board name:", function (result) {
                    if (result) {
                        var form = $(document.createElement("form"));
                        var boardNameInput = $(document.createElement("input"));
                        form.attr("action", "{% url 'boards:createBoard' %}");
                        form.attr("method", "post");
                        boardNameInput.attr("value", result);
                        boardNameInput.attr("name", "board_name");
                        boardNameInput.attr("type", "hidden");
                        form.append(boardNameInput);
                        form.submit();
                    } else {

                    }
                });
            });

            $(".clickableRow").click(function () {
                window.document.location = $(this).attr("href");
            });
        });
    </script>
{% endblock %}