{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <h3>Copy board</h3>

        <form class="form-horizontal" role="form" method="POST" action="{% url 'boards:copy_board' %}">
            {% csrf_token %}

            <div class="form-group">
                <label for="board_name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-3">
                    <input type="text" class="form-control" id="board_name"
                           name="name"
                           value="{{ board.name }}"/>
                </div>
                {% if error_name %}
                    <div class="has-errors error-font">
                        <label class="control-label">
                            Please enter name for new board.
                        </label>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="old_board" class="col-sm-2 control-label">Existing board</label>

                <div class="col-sm-3">
                    <select id="old_board" name="old_board"
                            class="form-control">
                        <option value="">----</option>
                        {% for b in boards %}
                            <option value="{{ b.id }}">{{ b.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if error_board %}
                    <div class="has-errors error-font">
                        <label class="control-label">
                            Please select a board you want to copy.
                        </label>
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Copy</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}