{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <h3>Create column on board {{ board.name }}</h3>
        {% comment %}<form action="{% url 'boards:create_column' board_id=board_id %}" method="POST">
            {% csrf_token %}

            <input type="submit" value="Create"/>
            {{ form.as_p }}
            {{ form.parent_column.errors }}
            <br/><br/>
            {{ form.errors }}
        </form>-->{% endcomment %}


        <form class="form-horizontal" role="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="{{ form.is_active.value }}"
                                   name="{{ form.is_active.name }}"
                                   {% if form.is_active.value %}checked="checked"{% endif %}/>
                            Active
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.name.auto_id }}" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-3">
                    <input type="text" class="form-control" id="{{ form.name.auto_id }}"
                           name="{{ form.name.name }}"
                           value="{% if form.name.value %}{{ form.name.value }}{% endif %}"/>
                </div>
                {% if form.name.errors %}
                    <div class="has-errors error-font">
                        <label class="control-label">
                            {{ form.name.errors|striptags }}
                        </label>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.wip.auto_id }}" class="col-sm-2 control-label">WIP</label>

                <div class="col-sm-3">
                    <input type="number" class="form-control" id="{{ form.wip.auto_id }}"
                           name="{{ form.wip.name }}"
                           value="{% if form.wip.value %}{{ form.wip.value }}{% endif %}"/>
                </div>
                {% if form.wip.errors %}
                    <div class="has-errors error-font">
                        <label class="control-label">
                            {{ form.wip.errors|striptags }}
                        </label>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.color.auto_id }}" class="col-sm-2 control-label">Color</label>
                <div class="col-sm-3">
                    <!-- TODO: Change input text to input color! -->
                    <input type="color" class="form-control" id="{{ form.color.auto_id }}"
                           name="{{ form.color.name }}"
                           value="#{% if form.color.value %}{{ form.color.value }}{% else %}ffffff{% endif %}"/>
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-2 control-label"></span>
                <span class="col-sm-4">Select just one field: Parent column or Next column or none of them to add column on the end.</span>
            </div>
            <div class="form-group">
                <label for="{{ form.next_column.auto_id }}" class="col-sm-2 control-label">Next
                    column</label>

                <div class="col-sm-3">
                    <select id="{{ form.next_column.auto_id }}" name="{{ form.next_column.name }}"
                            class="form-control">
                        {% for value,text in form.next_column.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.parent_column.auto_id }}" class="col-sm-2 control-label">Parent
                    column</label>

                <div class="col-sm-3">
                    <select id="{{ form.parent_column.auto_id }}"
                            name="{{ form.parent_column.name }}"
                            class="form-control">
                        {% for value,text in form.parent_column.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}