{% extends 'supervision/base.html' %}

{% block content %}

    <div class="container">
        <form class="form-horizontal" role="form" method="POST">
            <h3 class="col-md-offset-1">Create a rule for moving columns</h3>
            <br />
            <br />
            {% csrf_token %}
            <div class="invisible">
                {{ form.is_active }}
                {{ form.origin_column_id }}
            </div>
            <div class="form-group">
                <label for="{{ form.column_origin.auto_id }}" class="col-sm-2 control-label">Source
                    column</label>

                <div class="col-sm-3">
                    <select id="{{ form.column_origin.auto_id }}" name="{{ form.column_origin.name }}"
                            class="form-control">
                        {% for value,text in form.column_origin.field.choices %}
                            {% if value %}
                                <option selected="selected" value="{{ value }}">{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.column_target.auto_id }}" class="col-sm-2 control-label">Target
                    column</label>

                <div class="col-sm-3">
                    <select id="{{ form.column_target.auto_id }}" name="{{ form.column_target.name }}"
                            class="form-control">
                        {% for value,text in form.column_target.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.user_group.auto_id }}" class="col-sm-2 control-label">Group</label>

                <div class="col-sm-3">
                    <select id="{{ form.user_group.auto_id }}" name="{{ form.user_group.name }}"
                            class="form-control">
                        {% for value,text in form.user_group.field.choices %}
                            {% if value %}
                                <option selected="selected" value="{{ value }}">{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
            </div>
            <br />
        </form>
    </div>
{% endblock content %}