{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">{{ board.name }}</h1>
            </div>
        </div>
        <div class="row margin-right-50">
            <div class="text-left margin-left-30">
                    <br />
                    <form class="form-horizontal" role="form" action="{% url 'boards:rename_board' %}" method="POST">

                    <div class="form-group">
                        <label class="col-sm-1 control-label">Name</label>
                        <div class="col-xs-3">
                            <input type="text" name="board_name" class="form-control" placeholder="Enter new board name" value="{{ board.name }}" />
                        </div>
                        <input type="hidden" name="board_id" value="{{ board.id }}" />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Notice interval</label>
                        <div class="col-xs-3">
                            <input type="text" name="notice_interval" class="form-control" placeholder="Card notice interval" value="{{ board.notice_interval }}" />
                        </div>
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-default">Update</button>
                        </div>
                    </div>
                    </form>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <a href="{% url 'boards:create_column' board_id=board.id %}">
                            <button type="button" class="btn btn-primary">Create column</button>
                        </a>
                    </div>
                </div><br />
                <div class="row">
                    <form class="form-horizontal" role="form" action="{% url 'boards:update_attributes' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <h4 class="margin-left-30">Select columnt attributes for this table:</h4>
                        </div>
                        <div class="form-group">
                            <label for="start_boundary_column" class="col-sm-2 control-label">
                                Start boundary column
                            </label>

                            <div class="col-sm-3">
                                <select id="start_boundary_column" name="start_boundary_column"
                                        class="form-control">
                                    <option value="" >----</option>
                                    {% for col in attribute_columns %}
                                        <option value="{{ col.id }}"
                                                {% if selected_attributes.start_boundary.id == col.id %}
                                                    selected="selected"
                                                {% endif %}>
                                            {{ col.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% if select_new_attribute_column %}
                                <div class="col-sm-3">
                                    <p class="warning-font">Please select new column for attributes.</p>
                                </div>
                            {% endif %}
                            {% if errors.error_start_end_same %}
                                <div class="col-sm-3">
                                    <p style="color: RED">Start and end boundary column cannot be the same.</p>
                                </div>
                            {% elif errors.end_before_start %}
                                <div class="col-sm-3">
                                    <p style="color: RED">End column is located before start boundary column.</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="end_boundary_column" class="col-sm-2 control-label">
                                End boundary column
                            </label>

                            <div class="col-sm-3">
                                <select id="end_boundary_column" name="end_boundary_column"
                                        class="form-control">
                                    <option value="" >----</option>
                                    {% for col in attribute_columns %}
                                        <option value="{{ col.id }}"
                                                {% if selected_attributes.end_boundary.id == col.id %}
                                                    selected="selected"
                                                {% endif %}>
                                            {{ col.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="priority_column" class="col-sm-2 control-label">
                                Priority cards column
                            </label>

                            <div class="col-sm-3">
                                <select id="priority_column" name="priority_column"
                                        class="form-control">
                                    <option value="" >----</option>
                                    {% for col in attribute_columns %}
                                        <option value="{{ col.id }}"
                                                {% if selected_attributes.priority.id == col.id %}
                                                    selected="selected"
                                                {% endif %}>
                                            {{ col.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="acceptance_column" class="col-sm-2 control-label">
                                Acceptance column
                            </label>

                            <div class="col-sm-3">
                                <select id="acceptance_column" name="acceptance_column"
                                        class="form-control">
                                    <option value="" >----</option>
                                    {% for col in attribute_columns %}
                                        <option value="{{ col.id }}"
                                                {% if selected_attributes.acceptance.id == col.id %}
                                                    selected="selected"
                                                {% endif %}>
                                            {{ col.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <input type="hidden" name="board_id" value="{{ board.id }}" />
                        <div class="form-group">
                            <button type="submit" class="btn btn-default margin-left-30">Set attributes</button>
                        <div class="form-group">
                    </form>

                </div>
            </div>

            {% if delete_error_column_has_children %}
                <p style="color: RED">Column cannot be deleted, because it has children.</p>
            {% endif %}
            {% if table_data %}
                <table class="table table-bordered text-center  column-table-custom">
                    <tr>
                        {% for element in table_data %}
                            <th colspan="{{ element.children|length }}">
                                <div class="table-column-header-color" style="border-color: #{{ element.column.color }}">
                                    {{ element.column.name }} <br /> {{ element.number_of_cards }}/{{ element.column.wip }}
                                    <a href="{% url 'boards:edit_column' pk=element.column.id %}">
                                        <button type="button" class="btn btn-default btn-xs"
                                                {% comment %}{% if element.number_of_cards > 0 %}
                                                    disabled="disabled"
                                                {% endif %}{% endcomment %}>Edit</button>
                                    </a>
                                    <a href="{% url 'boards:delete_column' pk=element.column.id %}">
                                        <button type="button" class="btn btn-danger btn-xs"
                                                {% if element.number_of_cards > 0 or element.children|length > 0 %}
                                                    disabled="disabled"
                                                {% endif %}>Delete</button>
                                    </a>
                                    {% if element.column.is_start_boundary %}
                                        <span class="label label-primary" title="Start boundary column">
                                            BC</span>
                                    {% endif %}
                                    {% if element.column.is_end_boundary %}
                                        <span class="label label-primary" title="End boundary column">
                                            BC</span>
                                    {% endif %}
                                    {% if element.column.is_priority %}
                                        <span class="label label-primary" title="Column for priority cards">
                                            PR</span>
                                    {% endif %}
                                    {% if element.column.is_acceptance %}
                                        <span class="label label-primary" title="Column for acceptance testing">
                                            AT</span>
                                    {% endif %}
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for element in table_data %}
                            {% if element.children %}
                                {% for subcolumn in element.children %}
                                    <th>
                                        <div class="table-column-header-color" style="border-color: #{{ subcolumn.color }}">
                                            {{ subcolumn.name }}<br />
                                            {{ subcolumn.card_set.all|length }}/{{ subcolumn.wip }}
                                            <a href="{% url 'boards:edit_column' pk=subcolumn.id %}">
                                                <button type="button" class="btn btn-default btn-xs"
                                                        {% comment %}{% if subcolumn.card_set.all|length > 0 %}
                                                            disabled="disabled"
                                                        {% endif %}{% endcomment %}>Edit</button>
                                            </a>
                                            <a href="{% url 'boards:delete_column' pk=subcolumn.id %}">
                                                <button type="button" class="btn btn-danger btn-xs"
                                                        {% if subcolumn.card_set.all|length > 0 %}
                                                            disabled="disabled"
                                                        {% endif %}>Delete</button>
                                            </a>
                                            {% if subcolumn.is_start_boundary %}
                                                <span class="label label-primary" title="Start boundary column">
                                                    BC</span>
                                            {% endif %}
                                            {% if subcolumn.is_end_boundary %}
                                                <span class="label label-primary" title="End boundary column">
                                                    BC</span>
                                            {% endif %}
                                            {% if subcolumn.is_priority %}
                                                <span class="label label-primary" title="Column for priority cards">
                                                    PR</span>
                                            {% endif %}
                                            {% if subcolumn.is_acceptance %}
                                                <span class="label label-primary" title="Column for acceptance testing">
                                                    AT</span>
                                            {% endif %}
                                        </div>
                                    </th>
                                {% endfor %}
                            {% else %}
                                <th></th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for element in table_data %}
                            {% if element.children %}
                                {% for subcolumn in element.children %}
                                    <td class="edit-board-empty-column"></td>
                                {% endfor %}
                            {% else %}
                                <td class="edit-board-empty-column"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
                </div>
            {% else %}
                <div class="margin-left-30">
                    No columns on a board.
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}