{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
    <h3>Edit column {{ column.name }}</h3>
        <form class="form-horizontal" role="form" action="{% url 'boards:update_column' %}"
              id="update_column_form" method="POST" >
            {% csrf_token %}
            <input type="hidden" name="column_id" value="{{ column.id }}">
            <div class="form-group">
                <label for="column_name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-3">
                    <input type="text" class="form-control" id="column_name"
                           name="name"
                           value="{% if column.name %}{{ column.name }}{% endif %}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="column_wip" class="col-sm-2 control-label">WIP</label>

                <div class="col-sm-3">
                    <input type="number" class="form-control" id="column_wip"
                           name="wip"
                           value="{{ column.wip }}"/>
                </div>
                {% if error_child_wip %}
                <div class="has-errors error-font">
                    <label class="control-label">
                        Entered WIP was not valid. One of the cildren's column has larger WIP.
                    </label>
                </div>
                {% endif %}
                {% if error_parent_wip %}
                <div class="has-errors error-font">
                    <label class="control-label">
                        Entered WIP was not valid. Parent's column has lower WIP.
                    </label>
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="column_color" class="col-sm-2 control-label">Color</label>
                <div class="col-sm-3">
                    <input type="color" class="form-control" id="column_color"
                           name="color"
                           value="#{% if column.color %}{{ column.color }}{% else %}ffffff{% endif %}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="column_next_column }}" class="col-sm-2 control-label">Next
                    column</label>

                <div class="col-sm-3">
                    <input type="text" disabled="disabled" class="form-control"
                           name="next" value="{{ column.next_column }}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Parent column</label>

                <div class="col-sm-3">
                    <input type="text" disabled="disabled" class="form-control"
                           name="parent" value="{{ column.parent_column }}" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default"
                            id="updateColumnSubmitButton">Update</button>
                </div>
            </div>
            <br/><br/>
            {{ form.errors }}

            <div>
                <h3>Card Moving Rules</h3>

                <br />
                <br />

                {% if column.target_rules.count > 0 or column.origin_rules.count > 0 %}
                <table class="table table-responsive">
                    <tr>
                        <th class="col-md-2">Origin</th>
                        <th class="col-md-2">Target</th>
                        <th class="col-md-2">Group</th>
                        <th class="col-md-2"></th>
                    </tr>

                    {% for rule in column.origin_rules.all %}
                        {% if rule.is_active == True %}
                            <tr>
                                <td class="col-md-2">{{ rule.column_origin.name }}</td>
                                <td class="col-md-2">{{ rule.column_target.name }}</td>
                                <td class="col-md-2">{{ rule.user_group.name }}</td>
                                <td class="col-md-2">
                                    <a href="{% url 'boards:delete_column_rule' column_pk=column.pk rule_pk=rule.pk %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% for rule in column.target_rules.all %}
                        {% if rule.is_active == True %}
                            <tr>
                                <td class="col-md-2">{{ rule.column_origin.name }}</td>
                                <td class="col-md-2">{{ rule.column_target.name }}</td>
                                <td class="col-md-2">{{ rule.user_group.name }}</td>
                                <td class="col-md-2">
                                    <a href="{% url 'boards:delete_column_rule' column_pk=column.pk rule_pk=rule.pk %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                {% else %}
                    <p class="col-md-offset-1">No rules defined.</p>
                {% endif %}

                <br />
                <a href="{% url 'boards:create_column_rule' column_id=column.pk %}" class="btn btn-primary">Create rule</a>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#updateColumnSubmitButton').on('click', function (e, confirmed) {
                var w = $("#column_wip").val();
                if (w >= {{ column.card_count }}) {
                    $('#updateColumnSubmitButton').trigger('click', true);
                }
                var message = "This column already contains " +
                        {{ column.card_count }} + " cards. With lowering columns WIP violation " +
                        "is reached Do you want to continue?";
                if (!confirmed) {
                    e.preventDefault();
                    bootbox.confirm(message, function (response) {
                        if (response) {
                            $('#updateColumnSubmitButton').trigger('click', true);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}