{% extends 'supervision/base.html' %}

{% block content %}

    <div class="container">
        <form class="form-horizontal" role="form" method="POST">
            <h3 class="col-md-offset-1">{% block title %}{% endblock %}</h3>
            <br />
            <br />
            {% csrf_token %}
            <div class="invisible">
                {{ form.is_active }}
            </div>
            <div class="form-group">
                <label for="{{ form.card.auto_id }}" class="col-sm-2 control-label">Card</label>
                <div class="col-sm-3">
                    <select id="{{ form.card.auto_id }}" name="{{ form.card.name }}"
                            class="form-control" >
                        {% for value,text in form.card.field.choices %}
                            {% if value %}
                            <option
                                    {% if task.card and task.card.pk == value %}
                                    selected="selected"
                                    {% endif %}
                                    value="{{ value }}">{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.name.auto_id }}" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="{{ form.name.auto_id }}"
                           name="{{ form.name.name }}"
                           value="{% if form.name.value %}{{ form.name.value }}{% endif %}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.assignee.auto_id }}" class="col-sm-2 control-label">Assignee</label>
                <div class="col-sm-3">
                    <select id="{{ form.assignee.auto_id }}" name="{{ form.assignee.name }}"
                            class="form-control">
                        {% for value,text in form.assignee.field.choices %}
                            <option
                                    {% if task.assignee and task.assignee.pk == value %}
                                    selected="selected"
                                    {% endif %}
                                    value="{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
             <div class="form-group">
                <label for="{{ form.size.auto_id }}" class="col-sm-2 control-label">Size (h)</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="{{ form.size.auto_id }}"
                           name="{{ form.size.name }}"
                           value="{% if form.size.value %}{{ form.size.value }}{% endif %}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.done.auto_id }}" class="col-sm-2 control-label">Done</label>
                <div class="col-sm-3">
                    <input type="checkbox" id="{{ form.done.auto_id }}"
                           name="{{ form.done.name }}"
                           {% if form.done.value %}checked='checked'{% endif %}/>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.description.auto_id }}" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-3">
                    <textarea class="form-control" id="{{ form.description.auto_id }}"
                           name="{{ form.description.name }}">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                </div>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">{% block submit %}{% endblock %}</button>
                    </div>
            </div>
            <br />
        </form>
    {{ form.errors }}
    </div>
{% endblock content %}