{% extends 'supervision/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">More options</h1>
            <br />
            <div class="col-md-6 col-md-offset-3">
                <form method="POST" action="{% url 'boards:update_more_options' %}" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <input type="hidden" name="card_id" value="{% if card %}{{ card.id }}{% endif %}" />
                    {% if error %}
                        <div class="form-group">
                        <label for="card_name" class="col-sm-3 control-label"></label>
                        <div class="has-errors error-font col-sm-9">
                            <label class="control-label">
                                You don't have permissions.
                            </label>
                        </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="card_name" class="col-sm-3 control-label">
                            Card
                        </label>
                        <div class="col-sm-9 ">
                            <input type="text" class="form-control" name="board"
                                   value="{% if card %}{{ card.name }}{% endif %}" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="is_priority" class="col-sm-3 control-label">
                        </label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <input type="checkbox" class="form-signin" name="priority"
                                       {% if card.is_priority %}checked{% endif %}/>
                                Priority
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="is_priority" class="col-sm-3 control-label">
                        </label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <input type="checkbox" class="form-signin" name="size"
                                       {% if card.is_size %}checked{% endif %}/>
                                Size
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="is_priority" class="col-sm-3 control-label">
                        </label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <input type="checkbox" class="form-signin" name="deadline"
                                       {% if card.is_deadline %}checked{% endif %} />
                                Deadline
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-default"
                                    id="updateColumnSubmitButton">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

