{% extends 'supervision/base.html' %}

{% load staticfiles %}


{% block content %}
    <div class="container-fluid" style="height: 100%; width: 100%;"
         xmlns="http://www.w3.org/1999/html">
        {% if board %}
            <h1 style="text-align: center">{{ board.name }}</h1>
            {% if table_data %}
                <div class="col-md-6 col-md-offset-1">
                    <form method="POST" action="{% url 'boards:show_board' pk=board.id %}" class="form-horizontal">

                        <div class="col-md-12 col-md-offset-2">
                            <div class="form-group">
                                <label for="cricital_cards" class="col-sm-4 control-label">
                                    Number of days to card deadline
                                </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="num_of_days" value="{% if not default_threshold %}{{ critical_card_threshold }}{% else %} 0 {% endif %}" />
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-default"
                                            id="show_critical_cards">Show</button>
                                </div>
                                {% if critical_card_error %}
                                    <div class="form-group">
                                        <label for="card_name" class="col-sm-3 control-label"></label>
                                        <div class="has-errors error-font col-sm-9">
                                            <label class="control-label">
                                                Please enter a number.
                                            </label>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
        {% endif %}
        <div>
            {% if table_data %}
                <table class="table table-show table-bordered text-center column-table-custom-2" id="board_display">
                    <tr>
                        <th></th>
                        {% for element in table_data %}
                            <th class="narrowing  fake-visible"  column-number="{{ forloop.counter }}0" colspan="{{ element.children|length }}">
                                <div class="table-column-header-color" style="border-color: #{{ element.column.color }}">
                                    {{ element.column.name }} {{ element.number_of_cards }}/{{ element.column.wip }}
                                    {% if element.column.is_start_boundary %}
                                        <span class="label label-primary" title="Start boundary column">
                                            BC</span>
                                    {% endif %}
                                    {% if element.column.is_end_boundary %}
                                        <span class="label label-primary" title="End boundary column">
                                            BC</span>
                                    {% endif %}
                                    {% if element.column.is_priority %}
                                        <span class="label label-primary" title="Column for priority cards">
                                            PR</span>
                                    {% endif %}
                                    {% if element.column.is_acceptance %}
                                        <span class="label label-primary" title="Column for acceptance testing">
                                            AT</span>
                                    {% endif %}
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th></th>
                        {% for element in table_data %}
                            {% if element.children %}
                                {% for subcolumn in element.children %}
                                    <th class="narrowing sc{{ forloop.parentloop.counter }}{{ forloop.counter }}" column-number="{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                                        <div class="table-column-header-color" style="border-color: #{{ subcolumn.color }}">
                                            {{ subcolumn.name }}
                                            {{ subcolumn.card_set.all|length }}/{{ subcolumn.wip }}
                                            {% if subcolumn.is_start_boundary %}
                                            <span class="label label-primary" title="Start boundary column">
                                                BC</span>
                                            {% endif %}
                                            {% if subcolumn.is_end_boundary %}
                                                <span class="label label-primary" title="End boundary column">
                                                    BC</span>
                                            {% endif %}
                                            {% if subcolumn.is_priority %}
                                                <span class="label label-primary" title="Column for priority cards">
                                                    PR</span>
                                            {% endif %}
                                            {% if subcolumn.is_acceptance %}
                                                <span class="label label-primary" title="Column for acceptance testing">
                                                    AT</span>
                                            {% endif %}
                                        </div>
                                    </th>
                                {% endfor %}
                            {% else %}
                                <th></th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for project in board.project_set.all %}
                        {% if project.is_active %}
                            <tr>
                                <td>
                                    {% for pr in project_kbm_po %}
                                        {% if pr.id == project.id %}
                                            <a href="{% url 'supervision:card_create' %}?project_pk={{ project.pk }}" type="button" class="btn btn-primary btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                            <br />
                                        {% endif %}
                                    {% endfor %}
                                    {% for char in project.name %}
                                        <strong>{{ char }}</strong><br/>
                                    {% endfor %}
                                </td>
                                {% for element in table_data %}
                                    {% if element.children %}
                                        {% for subcolumn in element.children %}
                                            {% if subcolumn.card_set.all %}
                                                {% include "boards/show_board_base.html" with cards=subcolumn.card_set.all prev_counter=forloop.parentloop.counter counter=forloop.counter column=subcolumn critical_card_threshold=critical_card_threshold %}
                                            {% else %}
                                                <td class="column-container">
                                                    <ul class="list-unstyled card-width rc{{ forloop.parentloop.counter }}{{ forloop.counter }} project-{{ project.pk }}"
                                                        data-column-id="{{ subcolumn.pk }}">
                                                        <li><br /><br /><br /></li>
                                                    </ul>
                                                    <div class="column-name ct{{ forloop.parentloop.counter }}{{ forloop.counter }}" style="display:none" >
                                                        {% for char in subcolumn.name %}
                                                            <strong>{{ char }}</strong><br/>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    {% elif element.column.card_set.all %}
                                        {% include "boards/show_board_base.html" with cards=element.column.card_set.all prev_counter=forloop.counter counter=0 column=element.column critical_card_threshold=critical_card_threshold%}
                                    {% else %}
                                        <td class="column-container">
                                            <ul class="list-unstyled card-width rc{{ forloop.counter }}0 project-{{ project.pk }}" data-column-id="{{ element.column.pk }}">
                                                <li><br /><br /><br /></li>
                                            </ul>
                                            <div class="column-name ct{{ forloop.counter }}0" style="display:none" >
                                                {% for char in element.column.name %}
                                                    <strong>{{ char }}</strong><br/>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <div>
                    <p class="text-center">No columns on a board.</p>
                </div>
            {% endif %}
        </div>
    </div>

    {# Needed for moving cards. #}
    {% csrf_token %}

    {# Violation Modal #}
    {% if form.errors %}
    <form action="{% url 'supervision:card_move' pk=form.instance.pk %}" method="POST">
        {% csrf_token %}
        <div class="modal fade" id="modal_violation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="{% url 'boards:show_board' pk=board.pk %}"
                           class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                        <h4 class="modal-title">Message</h4>
                    </div>
                    <div class="modal-body">
                        {% if form.wip_cause.errors %}
                            <p>{{ form.wip_cause.errors.0 }}</p>
                            {{ form.wip_cause }}
                            {{ form.column.as_hidden }}
                        {% elif form.moving_rule_violation.errors %}
                            <p>{{ form.moving_rule_violation.errors.0 }}</p>
                        {% else %}
                            <p>Card moved to invalid column.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        {% if form.wip_cause.errors %}
                            <a href="{% url 'boards:show_board' pk=board.pk %}" class="btn btn-default">Close</a>
                            <button type="submit" class="btn btn-primary">Ok</button>
                        {% else %}
                            <a href="{% url 'boards:show_board' pk=board.pk %}" class="btn btn-primary">OK</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    {# Modal for deleting cards. #}
    <form method="POST" id="delete_card_form">
        <div class="modal fade" id="card_delete_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete card</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <p>In order to delete a card a deletion cause has to be provided. Please enter deletion cause</p>
                        <textarea name="deletion_cause" class="form-control" rows="3"
                                  required="required" placeholder="Deletion cause"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var cardMoveUrl = "{% url 'supervision:card_move' pk=0 %}";
        var cardDeleteUrl = "{% url 'supervision:card_delete' pk=0 %}";
        var projectIds = {{ projects }};
        {% if form.errors %}
            $('#modal_violation').modal();
        {% endif %}
    </script>
    <script type="text/javascript" src="{% static 'supervision/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'supervision/js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'boards/js/boards/script.js' %}"></script>
{% endblock %}