<td class="column-container">
    <ul class="list-unstyled list-group card-width rc{{ prev_counter }}{{ counter }} project-{{ project.pk }}"
        data-column-id="{{ column.pk }}">
        {% for card in cards %}
            {% if card.project == project and card.is_active %}
            <li data-card-id="{{ card.pk }}">
                <div class="list-group-item" style="background-color:
                        {% if card.deadline != None and not default_threshold and card.deadline_time <= critical_card_threshold  and card.column not in end_boundary_and_after_columns%}
                            {{ card.COLOR_DEADLINE }}
                        {% else %}
                            {{ card.color }}
                        {% endif %}">
                    {% if card.is_size %}
                        {% if card.size %}
                            <span class="badge">{{ card.size }}</span>
                        {% else %}
                            <span class="badge">0</span>
                        {% endif %}
                    {% endif %}
                    <h6 class="list-group-item-text card-description-size" style="text-align: left">
                        ID: {{ card.id }} <br/>
                        Assignee: <span class="glyphicon glyphicon-user"></span> {{ card.assignee }}
                    </h6>
                    <hr style="padding: 0px; margin-bottom: 4px; margin-top: 2px" />
                    <h4 class="list-group-item-heading card-title-size">{{ card.name }}</h4>
                    {% if card.is_priority %}
                        <h4 class="list-group-item-heading card-description-size">Priority: {{ card.get_priority_display }}</h4>
                    {% endif %}
                    {% if card.is_deadline %}
                    <h4 class="list-group-item-heading card-description-size">Deadline: {{ card.deadline }}</h4>
                    {% endif %}
                    <hr style="padding: 0px; margin-bottom: 4px; margin-top: 2px" />
                    <p class="list-group-item-text card-description-size">
                        <button class="btn btn-default btn-xs" onclick="location.href='{% url 'supervision:card_detail' pk=card.pk %}'" >
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </button>
                        <button class="btn btn-default btn-xs" onclick="location.href='{% url 'supervision:card_update' pk=card.pk %}'" >
                            <span class="glyphicon glyphicon-wrench"></span>
                        </button>
                        <button class="btn btn-default btn-xs delete_card_button" data-card-id="{{ card.pk }}">
                            <span class="glyphicon glyphicon-remove delete_card_button" data-card-id="{{ card.pk }}"></span>
                        </button>
                        <button class="btn btn-default btn-xs more_options" onclick="location.href='{% url 'boards:more_options' pk=card.pk %}'">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </p>
                </div>
            </li>
            {% endif %}
        {% endfor %}
        {# Needed in order to drag card to last place in column, otherwise it is dificuilt. #}
        <li><br /><br /><br /></li>
    </ul>
    <div class="column-name ct{{ prev_counter }}{{ counter }}" style="display:none" >
        {% for char in column.name %}
            <strong>{{ char }}</strong><br/>
        {% endfor %}
    </div>
</td>
