
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Subtasks</h1>
        </div>

        <div class="row">
            <br />
            <a href="{% url 'boards:task_create' card_id=card.pk %}"
               class="btn btn-default col-md-40">Create</a>

            <br />
            <br />
            <table class="table table-responsive">
                <tr>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-2">Assinee</th>
                    <th class="col-md-2">Size</th>
                    <th class="col-md-2">Done</th>
                    <th class="col-md-2">Description</th>
                    <th class="col-md-2"></th>
                    <th class="col-md-2"></th>
                </tr>
                {% for task in card.task_set.all %}
                    {% if task.is_active %}
                    <tr>
                        <td class="col-md-2">{{ task.name }}</td>
                        <td class="col-md-2">{{ task.assignee }}</td>
                        <td class="col-md-2">{{ task.size }}</td>
                        <td class="col-md-2">
                            {% if task.done %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </td>
                        <td class="col-md-4">{{ task.description }}</td>
                        <td class="col-md-2">
                            <a href="{% url 'boards:task_edit' task.pk %}"
                               class="btn btn-default btn-sm">Edit</a>
                        </td>
                        <td class="col-md-2">
                             <form method="POST" action="{% url 'boards:task_delete' %}" class="margin-left-30" >
                            {% csrf_token %}
                            <input type="hidden" name="card_id" id="card_id" value="{{ card.pk }}" />
                            <input type="hidden" name="task_id" id="task_id" value="{{ task.pk }}" />
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete" />
                        </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <br />
    <br />
    <br />
{% endblock %}

