{% load staticfiles %}
<!DOCTYPE html>
<html>
    {% load dajaxice_templatetags %}
    <head>
        <script src="{% static 'supervision/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'supervision/js/jquery.dajax.core.js' %}"></script>
        <script src="{% static 'supervision/bootstrap/3.1.1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'supervision/bootstrap/bootbox/bootbox.min.js' %}"></script>
        <script src="{% static 'supervision/js/jquery.ba-serializeobject.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'supervision/bootstrap/3.1.1/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" href="{% static 'supervision/bootstrap/3.1.1/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'supervision/css/style.css' %}" />
        {% dajaxice_js_import %}
        <title></title>
    </head>
    <body>
        <header id="top" class="navbar navbar-static-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".bs-navbar-collapse" data-toggle="collapse" type="button"></button>
                    <a href="{% url 'supervision:home' %}" class="navbar-brand">Kanban-tool</a>
                </div>
                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'supervision:team_list' %}">Teams</a>
                        </li>
                        {% if user.can_be_kanban_master %}
                        <li>
                            <a href="{% url 'supervision:project_list' is_active=True %}">Projects</a>
                        </li>
                        {% endif %}
                        {% if user.can_be_admin %}
                        <li>
                            <a href="{% url 'supervision:user_list' is_active=True %}">Users</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'boards:boards' %}">Boards</a>
                        </li>
                        <li>
                            <a href="{% url 'analytics:choose' %}">Analytics</a>
                        </li>
                        {% comment %}
                        <li>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                        {% endcomment %}
                        <li>
                            <a href="{% url 'basic:documentation' %}">Documentation</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="#">{{ user.email }}</a>
                        </li>
                        <li><a href="{% url 'logout' %}">log out</a></li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">Log in</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <hr class="horizontal-line-custom" />
        </header>
        <div id="content">
            {% block base_messages %}
                {% if messages %}
                <div id="message-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h2 class="modal-title">Alert</h2>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <script type="text/javascript">
                    $('#message-modal').modal();
                </script>
                {% endif %}
            {% endblock base_messages %}
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>