{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <form role="form" class="form-signin" action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-5">
                    <h3>Delete item</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><p>Are you sure you want to delete "{{ object }}"?</p></div>
            </div>
            <div class="row">
                <div class="col-md-12"><button type="submit" class="btn btn-primary btn-block btn-lg">Confirm</button></div>
            </div>
        </form>
    </div>
{% endblock %}
