{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1"><h2>Error</h2></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1"><h4>{{ msg }}</h4></div>
    </div>
</div>
{% endblock %}