{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>KANBAN-13</h1>
            <p>
                Kanban-13 is a kanban-based project tracking platform designed for developers,
                kanban masters and product owners.
            </p>
            <p>
                <a href="{% url 'boards:boards' %}" class="btn btn-primary btn-lg" role="button">Boards</a>
                <a href="{% url 'basic:documentation' %}" class="btn btn-primary btn-lg" role="button">Documentation</a>
            </p>
        </div>
    </div>
{% endblock %}
