{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <form role="form" class="form-signin" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.auto_id }}"><h4>Email</h4></label>
                <input type="text" id="{{ form.username.auto_id }}" name="{{ form.username.name }}" value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                       class="form-control" placeholder="Email" onfocus=""/>
            </div>
            <div class="form-group">
                <label for="{{ form.password.auto_id }}"><h4>Password</h4></label>
                <input type="password" id="{{ form.password.auto_id }}" name="{{ form.password.name }}" value="{% if form.password.value %}{{ form.password.value }}{% endif %}"
                       class="form-control" placeholder="Password" onfocus ="" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
        </form>
        {% block base_messages %}{% endblock %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
