<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#cumulative-flow">
                Kumulativni diagram poteka
            </a>
        </h4>
    </div>
    <div id="cumulative-flow" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Prijavljen uporabnik z vlogo kanban-master lahko v glavnem meniju (zgoraj) klikne
                    na Analytics in znotraj te skupine lahko izbere povezavo Cumulative flow diagram.
                </li>
                <li>
                    Nato mora najprej izbrati tablo, katere želi prikazati digram.
                    Za tem se mu odprejo polja kjer lahko določa natančnejše kriterije za izbor
                    podmnožice kartic, katere bodo upoštevane v izrisu diagrama.
                    Obvezno polje, ki ga mora uporabnik izpolniti je samo začetni datum
                    za katerega želi diagram.
                </li>
                <li>
                    S pritiskom na gumb Draw se pod formo za podrobnejši izbor podmnožice kartic
                    izriše kumulativni diagram poteka.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#wip-violations">
                Izpis kršitev omejitve WIP
            </a>
        </h4>
    </div>
    <div id="wip-violations" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Prijavljen uporabnik lahko v glavnem meniju (zgoraj) klikne
                    na Analytics in znotraj te skupine lahko izbere povezavo Wip violations list.
                </li>
                <li>
                    Nato mora najprej izbrati tablo, katere želi prikazati seznam.
                    Za tem se mu odprejo polja kjer lahko določa natančnejše kriterije za izbor
                    podmnožice kartic (na enak način kot pri prikazu kumulativnega diagrama).
                </li>
                <li>
                    S pritiskom na gumb Show se pod formo za podrobnejši izbor podmnožice kartic
                    prikaže seznam kršitev omejitve WIP. Možni sta dve vrsti kršitev: kršitev zaradi
                    premika kartice v stolpec, ki že ima toliko kartic kolikor znaša njegova omejitev
                     WIP in kršitev ob spreminjanju lastnosti posameznega stolpca (omejitve WIP).
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#delezi-razvijalcev">
                Deleži razvijalcev
            </a>
        </h4>
    </div>
    <div id="delezi-razvijalcev" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    KanbanMaster lahko izdela pregled dela po posameznih razvijalcih.
                </li>
                <li>
                    Za izbrano podmnožico kartic se (na podlagi ocene zahtevnosti vsake kartice)
                    izpiše število zgodb (kartic) in število točk, ki so jih realizirali (ali jih imajo v delu)
                    posamezni razvijalci. Rezultat je prikazan tudi grafično v obliki tortnega diagrama.
                    Podmnožica kartic se izbere na enak način kot pri izračunu povprečnega potrebnega časa.
                </li>
                <li>
                    Do pregleda pridemo s klikom na menijski gumb "Analytics".
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#average-lead-time">
                Izračun povprečnega potrebnega časa
            </a>
        </h4>
    </div>
    <div id="average-lead-time" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Prijavljen uporabnik z vlogo Kanban master lahko v glavnem meniju (zgoraj) klikne
                    na Analytics in znotraj te skupine lahko izbere povezavo Average lead time.
                </li>
                <li>
                    Nato mora najprej izbrati tablo, katere želi prikazati seznam.
                    Za tem se mu odprejo polja kjer lahko določa natančnejše kriterije za izbor
                    podmnožice kartic.
                </li>
                <li>
                    S pritiskom na gumb Draw se pod formo za podrobnejši izbor podmnožice kartic
                    prikaže graf s podatki o povprečnem potrebnem času.
                </li>
            </ul>
        </div>
    </div>
</div>
