<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#prikaz-table">
                Prikaz table
            </a>
        </h4>
    </div>
    <div id="prikaz-table" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Aktivni uporabniki lahko zahtevajo prikaz samo za tiste table, ki se nanašajo
                    na njihove razvojne skupine.
                </li>
                <li>Administrator lahko pregleduje katerokoli tablo.</li>
                <li>
                    Uporabniku so na tabli na voljo podatki o barvah kartic, zahtevnost zgodbe,
                    omejitve WIP, imena stolpcev in vsi projekti.
                </li>
                <li>Zelene katrice predstavljajo nujne zahteve ("silver bullet").</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#kreiranje-table">
                Kreiranje table
            </a>
        </h4>
    </div>
    <div id="kreiranje-table" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Prijavljen uporabnik, ki ima vlogo kanban master lahko kreira novo tablo tako,
                    da na zavihku Boards klikne na gumb "Create board". Odpre se mu pojavno okno
                    v katerega vpiše ime nove table.
                </li>
                <li>
                    Uporabnik je nato preusmerjen na formo za dodajanje posameznih stolpcev.
                    Ko je tabla še brez stolpcev se mu to izpiše, nove stolpce pa lahko kreira z
                    gumbom "Create column". Poleg tega ima na tej formi še možnost preimenovanja
                    celotne table.
                </li>
                <li>
                    Kreiranje stolpca poteka tako, da se zajame ime stolpca, omejitev WIP, ki velja
                    za ta stolpec, barva, ki se prikaže nad stolpcem na tabli, naslednji stolpec
                    oziroma nadstolpec (starš - parent).
                    Če uporabnik vnese obe vrednost - naslednji in starševski stolpec se pri
                    kreiranju stolpca upošteva le naslednji stolpec, starša se mi dodeli glede na
                    starša naslednjega stolpca.
                </li>
                <li>
                    Vsak stolpec, ki nima kartic in ki nima podstolpcev je mogoče brisati. Uporabnik
                    to naredi z rdečim gumbom "Delete" poleg vsakega stolpca. Ob brisanju enega od
                    stolpcev, ki imajo nastavljen enega od atributov, bodisi da je mejni
                    stolpec, stolpec za sprejemno testiranje ali stolpec za kartice z najvišjo
                    prioriteto se uporabniku prikaže forma za ponoven izbor atributa..
                </li>
                <li>
                    Vsak stolpec, ki nima kartic je mogoče urejati in mu tako spreminjati vse atribute.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#ozenje-stolpcev">
                "Oženje" stolpcev
            </a>
        </h4>
    </div>
    <div id="ozenje-stolpcev" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li> Uporabnik lahko v prikazu table "zoži" stolpce. </li>
                <li>
                    Uporabnik "zoži" stolpec s kilikom na ime stolpca. Ko želi vzpostaviti prvotno
                    stanje, to stori s ponovnim klikom na polje, ker se je nahajalo ime stolpca.
                </li>
                <li>
                    Pri "zožanem" stolpcu se uporaniku izpiše ime stolpca vertikalno. Stolpec
                    v tem stanju ne prikazuje katric.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#posodabljanje-stolpca">
                Posodabljanje lastnosti stolpca
            </a>
        </h4>
    </div>
    <div id="posodabljanje-stolpca" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Vsak stolpec je mogoče urejati. V sklopu urejanja table je poleg vsakega stolpca
                    prikazan gumb s katerim se uporabniku prikaže forma za urejanje stolpca. V
                    sklopu urejanja lahko spreminja ime stolpca, barvo in omejitev WIP.
                </li>
                <li>
                    Če se stolpcu spremeni omejitev WIP tako, da je nova omejitev manjša od števila
                    obstoječih kartic v tem stolpcu se uporabniku prikaže obvestilo, zabeleži pa se
                    tudi kršitev omejitve WIP.
                </li>
                <li>
                    Stolpcu, ki ima podstolpce ni mogoče spremeniti omejitve WIP na manjšo vrednost
                    kot znaša najnižja omejitev WIP podstolpca. Prav tako stolpcu, ki ima starša ni
                    mogoče nastaviti omejitve WIP na višjo vrednost kot znaša WIP omejitev starša.
                </li>
                <li>
                    V okviru urejenja table se lahko nastavlja in spreminja tudi stolpce s posebnimi
                    atributi (začetni in končni mejni stolpec, stolpec za kartice z najvišjo
                    prioriteto in stolpec za kartice za sprejemno testiranje).
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#kopiranje-table">
                Kreiranje nove table s kopiranjem strukture
            </a>
        </h4>
    </div>
    <div id="kopiranje-table" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Kanbanmaster lahko v zavihku Boards s klikom na gumb Copy board pride do forme
                    za kreiranje table s kopiranjem strukture neke obstoječe table. Uporabnik
                    najprej vpiše ime za novo tablo in nato izbere željeno obstoječo tablo.
                    Na voljo so mu samo table, ki jih je prijavljen kanbanmaster kreiral.
                </li>
                <li>
                    V novo tablo se kopira celotna struktura in vsi stolpci - imena, barve in
                    omejitev WIP posameznega stolpec. Prav tako se prenesejo vsi atributi za
                    posamezne stolpce.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#prilagodljiv-prikaz-kartice-na-tabli">
                Prilagodljiv prikaz kartice na tabli
            </a>
        </h4>
    </div>
    <div id="prilagodljiv-prikaz-kartice-na-tabli" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li> Kanbanmaster lahko izbere, kateri podatki se prikažejo na vsaki kartici. </li>
                <li> Na voljo ima izpis prioritete, ocene zahtevnosti in roka za dokončanje. </li>
                <li>
                    To stori s klikom na gumb z ozanko očesa.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#vzdrzevanje-nalog">
                Vzdrževanje nalog
            </a>
        </h4>
    </div>
    <div id="vzdrzevanje-nalog" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Razvijalec lahko vzdržuje podatke o nalogah, ki so potrebne za realizacijo uporabniške zgodbe.
                    Za vsako nalogo je možno vnesti ocenjeno število ur, potrebnih za realizacijo, in označiti,
                    ali je naloga dokončana ali ne.
                </li>
                <li>
                    Uporabnik lahko na dnu pregleda podrobnosti kartice doda, briše ali ureja nalogo.
                </li>
                <li>
                    Dokler niso vse naloge na kartici rešene, kartica ne more v stolpec za sprejemno testiranje.,
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#prikaz-kriticnih-karitc">
                Prikaz "kritičnih" kartic
            </a>
        </h4>
    </div>
    <div id="prikaz-kriticnih-karitc" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Uporabnik lahko zahteva, da se kartice, ki jim bo v naslednjih n dneh potekel
                    rok za dokončanje prikažejo v svetlo modri barvi.
                </li>
                <li>
                    V prikazu table pod naslovom, izbere število dni do roka za dokončanje in
                    pritisne gumb Show.
                </li>
                <li>
                    Če kartica nima določenega roka za dokončanje, ta funkcionalnost nanjo
                    nima vpliva.
                </li>
            </ul>
        </div>
    </div>
</div>