{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Documentation</h1><br />
            <div class="panel-group" id="accordion">
                {% include 'basic/documentation/supervision.html' %}
                {% include 'basic/documentation/boards.html' %}
                {% include 'basic/documentation/analytics.html' %}
            </div>
        </div>
    </div>
{% endblock %}