<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#prijava-v-sistem">
                Prijava v sistem
            </a>
        </h4>
    </div>
    <div id="prijava-v-sistem" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Aktivni uporabniki se lahko prijavijo v sistem z naslovom elektronske
                    pošte in geslom.
                </li>
                <li>Ob treh napačnih poskusih prijave, se prijava zaklene za 10 minut.</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#vzdrzevanje-projektov">
                Vzdrževanje projektov
            </a>
        </h4>
    </div>
    <div id="vzdrzevanje-projektov" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>Omogoča kreiranje, urejanje in brisanje projektov.</li>
                <li>
                    S klikom na gumb "create project" lahko ustvarimo nov projekt.
                    Pri tem se zajame šifra projekta, ime naročnika, datum začetka in
                    predvideni datum zaključka.
                </li>
                <li>Obstoječe projekte lahko pregledamo s klikom na gumb "projects".</li>
                <li>Projekte lahko vzdržuje samo "kanban master".</li>
                <li>
                    Datum pričetka mora biti manjši ali enak trenutnemu datumu, zakluček
                    pa večji od trenutnega datuma.
                </li>
                <li>
                    Če ima projekt kartice potem ga več ni možno izbrisati in mu ni več
                    možno spremeniti datuma pričetka.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#vzdrzevanje-razvojnih-skupin">
                Vzdrževanje razvojnih skupin
            </a>
        </h4>
    </div>
    <div id="vzdrzevanje-razvojnih-skupin" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    KanbanMaster lahko kreira in ureja razvojne skupine. Vsi ostali uporabniki imajo
                    dostop le do informacij o razvojnih skupinah.
                </li>
                <li>
                    Pri kreiranju skupine mora uporabnik podati ime skupine in vsaj tri uporabnike.
                    Zastopane morajo biti uporabniške vloge
                    <ul>
                        <li>Kanban Master</li>
                        <li>Product Owner</li>
                        <li>Developer</li>
                    </ul>
                    Če člana skupine brišemo, ostane podatek o članstvu v podatkovni bazi, nastavi
                    se mu le datum deaktivacije.
                </li>
                <li>
                    Po končanem urejanju skupine morajo biti zastopane vse uporabniške vloge omenjene
                    v zgornji točki.
                </li>
                <li>
                    Če člana deaktiviramo, ne more več uporabljati table.
                </li>
                <li>
                    Sestava ekipe se lahko tekom projekta spreminja. V primeru, da deaktivirani član
                    zastopa eno od zahtevanih uporabniških vlog, mora uporabnik podati novega člana s
                    to uporabniško vlogo.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#vzdrzevanje-uporabnikov">
                Vzdrževanje uporabnikov
            </a>
        </h4>
    </div>
    <div id="vzdrzevanje-uporabnikov" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>Omogoča kreiranje, urejanje in brisanje uporabnikov.</li>
                <li>
                    S klikom na gumb "create user" lahko ustvarimo novega uporabnika.
                    Pri tem se zajame priimek, ime, elektronska pošta, geslo in
                    vse možne vloge v katerih lahko nastopa uporabnik.
                </li>
                <li>Uporabnik ima lahko eno ali več različnih vlog.</li>
                <li>Obstoječe uporabnike lahko pregledamo s klikom na gumb "users".</li>
                <li>Uporabnike lahko vzdržuje samo administrator.</li>
                <li>
                    Če je uporabnik ne aktiven, ga ni mogoče dodeljevati razvojnim skupinam
                    in ne more se prijaviti v sistem
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#kreiranje-kartice">
                Kreiranje kartice
            </a>
        </h4>
    </div>
    <div id="kreiranje-kartice" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Navadno kartico, katera opisuje novo funkcionalnost, lahko kreira samo Product
                    Owner. Kreirana kartica se samodejno postavi v prvi stolpec.
                </li>
                <li>
                    Kartico, katera predstavlja nujno zahtevo (Silver Bullet), lahko kreira samo
                    Kanban Master. Kartica se samodejno prestavi v stolpec s karticami z najvišjo
                    prioriteto. Kartica dobi prioriteto 'Must Have'.
                </li>
                <li>
                    Če stolpec s karticami z najvišjo prioriteto že vsebuje silver bullet kartico,
                    potem kanban master ne more vnesti nove kartice.
                </li>
                <li>
                    Če ob vstavljanju kartice pride do kršitve WIP, mora uporabnik vnesti vzrok,
                    zakaj je prišlo do kršitve. Kršitev se zabeleži.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#posodabljanje-vsebine-kartice">
                Posodabljanje vsebine kartice
            </a>
        </h4>
    </div>
    <div id="posodabljanje-vsebine-kartice" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Uporabniki lahko posodabljajo samo tiste kartice, katere pripadajo njihovem
                    projektu.
                </li>
                <li>
                    Pred vstopom v začetni mejni stolpec lahko vsebino kartic posodabljata samo
                    Product Owner in Kanban Master.
                </li>
                <li>
                    Znotraj mejhnih stolpcev lahko vsebino kartice posodabljajo Kanban Master in
                    člani razvojne skupine.
                </li>
                <li>
                    Po izstopu iz končnega mejnega stolpca kartice ne more več nihče posodabljati.
                </li>
                <li>
                    Pred vstopom kartice v razvoj lahko njen tip (navadna ali Silver Bullet)
                    posodabljata Product Owner in Kanban Master. Oba lahko tip kartice posodobita
                    na tip 'navadna', pri čemer lahko samo Kanban Master posodobi kartico v Silver
                    Bullet.
                </li>
                <li>
                    Preden kartica stopi v razvoj, ji lahko Product Owner, Kanban Master in člani
                    razvojne skupine spreminjajo prioriteto.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#prestavljanje-kartice">
                Prestavljanje kartice
            </a>
        </h4>
    </div>
    <div id="prestavljanje-kartice" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Uporabnik lahko prestavlja samo tiste kartice, katere pripadajo njegovem
                    projektu. Ostalih kartic oziroma projektov ne vidi.
                </li>
                <li>
                    Kartico se lahko prestavlja samo za en stolpec levo in desno.
                </li>
                <li>
                    Pred razvojem se kartice lahko poljubno pomika levo in desno. Ravno tako kartice
                    v razvoju. Kartice, ki so v razvoju, več ni možno prestaviti nazaj v stolpce
                    pred razvojem. Kartice po razvoju lahko potujejo samo naprej.
                </li>
                <li>
                    Pri prestavljanju kartice se upošteva omejitev WIP. Če pride do kršitve, se
                    izpiše opozorilo. Uporabnik mora vnesti razlog, zakaj krši WIP. Če uporabnik ne
                    vnese razloga, se kartice ne more prestaviti.
                </li>
                <li>
                    Product Owner lahko kartico v sprejemnem testiranju zavrne in jo prestavi nazaj
                    v stolpec z najvišjo prioriteto ali levo od njega. Prestavi lahko tudi silver
                    bullet kartico, tudi če se v stolpcu z najvišjo prioriteto že nahaja silver
                    bullet kartica. Kartica se ob zavrnitvi pobarva na rdeče. Ob tem se tudi preveri
                    kršitev WIP, kot je navedeno v prejšnji točki.
                </li>
                <li>
                    V stolpcu s karticami z najvišjo prioriteto je lahko naenkrat samo 1 silver
                    bullet kartica. Izjema je zavračanje zgodb opisano v prejšnji točki.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#prikaz-podrobnosti-kartice">
                Prikaz podrobnosti kartice
            </a>
        </h4>
    </div>
    <div id="prikaz-podrobnosti-kartice" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Ob kliku na gumb o podrobnostih kartice se izpišejo vsi podatki kartice, ki so
                    v sistemu.
                </li>
                <li>
                    Pri prikazu podatkov se izpiše tudi zgodovina kartice:
                    <ul>
                        <li>Čas, ko je bila kartica kreirana.</li>
                        <li>Vsi časi vseh prestavljanj kartic.</li>
                        <li>
                            Vsi časi vseh kršitev WIP in vseh pripadajočih razlogov za kršitve, ki
                            so jih vnesli uporabniki.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#brisanje-kartice">
                Brisanje kartice
            </a>
        </h4>
    </div>
    <div id="brisanje-kartice" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Uporabnik lahko briše le kartice, ki pripadajo njegovemu projektu, ostale kartice
                    se mu sploh ne prikažejo.
                </li>
                <li>
                    Kartice se ob brisanju nastavijo kot neaktivne.
                </li>
                <li>
                    Product owner lahko briše kartice, dokler se ne prične razvoj, medtem ko kanban master
                    lahko briše kartice v kateremkoli stolpcu.
                </li>
                <li>
                    Ob brisanju mora uporabnik podatki razlog.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#obvescanje-prekoracitev">
                Obveščanje o prekoračitvi roka
            </a>
        </h4>
    </div>
    <div id="obvescanje-prekoracitev" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Sistem avtomatsko generira sporočila z informacijami o vseh karticah, katerim rok
                    poteče v naslednjih N dneh. Sporočia se pošljejo Kanban Masterjem projektov na tabli,
                    parameter N pa se nastavi na nivoju table.
                </li>
                <li>
                    Pošiljanje sporočil za dano tablo se lahko proži tudi ročno s klikom na gumb na pregledu
                    tabel.
                </li>
                <li>
                    Sistem generira sporočila za vse table, ki imajo nastavljeno željeno število dni. To
                    naredi vsakih 24h.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#pravila-prestavljanje-kartic">
                Vgradnja pravil za prestavljanje kartic
            </a>
        </h4>
    </div>
    <div id="pravila-prestavljanje-kartic" class="panel-collapse collapse">
        <div class="panel-body">
            <ul>
                <li>
                    Uporabnik lahko na urejanju posameznega stolpca tabele nastavi tudi dovoljenja za
                    premikanje med stolpci. Za vsak stolpec lahko dodamo ali brišemo pravilo, ki pove
                    v kateri stolpec lahko kartico premaknemo in v kateri vlogi moramo nastopiti.
                </li>
                <li>
                    Uporabniku, ki poskusi premakniti kartico brez ustreznega dovoljenja, sistem javi
                    ustrezno opozorilo.
                </li>
                <li>
                    Pri urejanje stolpca se izpišejo vsa dovoljenja, kjer stolpec nastopa kot začetni
                    ali ciljni stolpec.
                </li>
            </ul>
        </div>
    </div>
</div>