{% extends 'supervision/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">{% block title %}{% endblock %}</h1>
        <br />
        <div class="col-md-6 col-md-offset-3">
            <form method="POST" class="form-horizontal" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.code.auto_id }}" class="col-sm-3 control-label">
                        Code{% if form.code.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.code.errors %}has-error{% endif %}">
                        {% if form.code.errors %}
                            <label class="control-label" for="{{ form.code.auto_id }}">
                                {{ form.code.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.code }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.name.auto_id }}" class="col-sm-3 control-label">
                        Name{% if form.name.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.name.errors %}has-error{% endif %}">
                        {% if form.name.errors %}
                            <label class="control-label" for="{{ form.name.auto_id }}">
                                {{ form.name.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.customer.auto_id }}" class="col-sm-3 control-label">
                        Customer{% if form.customer.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.customer.errors %}has-error{% endif %}">
                        {% if form.customer.errors %}
                            <label class="control-label" for="{{ form.customer.auto_id }}">
                                {{ form.customer.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.customer }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.start_date.auto_id }}" class="col-sm-3 control-label">
                        Start date{% if form.start_date.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.start_date.errors %}has-error{% endif %}">
                        {% if form.start_date.errors %}
                            <label class="control-label" for="{{ form.start_date.auto_id }}">
                                <dl>
                                {% for error in form.start_date.errors %}
                                    <dd class="text-left">{{ error|striptags }}</dd>
                                {% endfor %}
                                </dl>
                            </label>
                        {% endif %}
                        {{ form.start_date }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.end_date.auto_id }}" class="col-sm-3 control-label">
                        End date{% if form.end_date.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.end_date.errors %}has-error{% endif %}">
                        {% if form.end_date.errors %}
                            <label class="control-label" for="{{ form.end_date.auto_id }}">
                                <dl>
                                {% for error in form.end_date.errors %}
                                    <dd class="text-left">{{ error|striptags }}</dd>
                                {% endfor %}
                                </dl>
                            </label>
                        {% endif %}
                        {{ form.end_date }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.board.auto_id }}" class="col-sm-3 control-label">
                        Board{% if form.board.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.board.errors %}has-error{% endif %}">
                        {% if form.board.errors %}
                            <label class="control-label" for="{{ form.board.auto_id }}">
                                {{ form.board.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.board }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.team.auto_id }}" class="col-sm-3 control-label">
                        Team{% if form.team.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.team.errors %}has-error{% endif %}">
                        {% if form.team.errors %}
                            <label class="control-label" for="{{ form.team.auto_id }}">
                                {{ form.team.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.team }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                {{ form.is_active }} Is Active
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">
                            {% block submit %}{% endblock %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'supervision/css/datepicker.css' %}" />
    <script type="text/javascript" src="{% static 'supervision/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'supervision/js/projects/script.js' %}"></script>
{% endblock %}
