{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Project Details</h1>
        <br />
        <div class="col-md-6 col-md-offset-3">
            <div class="form-horizontal user-details" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Code</label>
                    <div class="col-sm-9">{{ project.code }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">{{ project.name}}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Customer</label>
                    <div class="col-sm-9">{{ project.customer }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Start date</label>
                    <div class="col-sm-9">{{ project.start_date|date:"d.m.Y" }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">End date</label>
                    <div class="col-sm-9">{{ project.end_date|date:"d.m.Y" }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Board</label>
                    <div class="col-sm-9">{{ project.board }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Team</label>
                    <div class="col-sm-9">{{ project.team }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Is Active</label>
                    <div class="col-sm-9">{{ project.is_active }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
