{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="text-center">Projects</h1>
                </div>
            </div>
            <p class="text-right">
                <a href="{% url 'supervision:project_create' %}" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Create Project
                </a>
            </p>
            <div class="row">
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Customer</th>
                                <th>Board</th>
                                <th>Is Active</th>
                                <th style="width: 60px"></th>
                                <th style="width: 60px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td>{{ project.pk }}</td>
                                <td>{{ project.code }}</td>
                                <td>{{ project.name}}</td>
                                <td>{{ project.customer }}</td>
                                <td>{{ project.board }}</td>
                                <td>
                                    {% if project.is_active %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'supervision:project_detail' pk=project.pk %}">Details</a></td>
                                <td><a href="{% url 'supervision:project_update' pk=project.pk %}">Update</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table table-filter">
                        <thead>
                            <tr><th>&nbsp;</th></tr>
                        </thead>
                        <tbody>
                            <tr><th class="bg-info">Filter by active</th></tr>
                            <tr><td><a href="{% url 'supervision:project_list' %}">All</a></td></tr>
                            <tr><td><a href="{% url 'supervision:project_list' is_active=True %}">Yes</a></td></tr>
                            <tr><td><a href="{% url 'supervision:project_list' is_active=False %}">No</a></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
