{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <form class="form-horizontal" method="post" role="form">
            {% csrf_token %}
            <h1 class="text-center">{% block title %}{% endblock title %}</h1>
                <br />
            <div class="row"><h4 class="col-md-8">General</h4></div>
            <div class="row form-group">
                    <label for="{{ form.name.auto_id }}" class="col-sm-3 control-label">
                        Team Name{% if form.name.field.required %}*{% endif %}
                    </label>
                    <div class="col-md-5 {% if form.name.errors %}has-error{% endif %}">
                        {% if form.name.errors %}
                            <label class="control-label" for="{{ form.name.auto_id }}">
                                {{ form.name.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.name }}
                    </div>
            </div>
            {% block is_active_field %}
            {% endblock is_active_field %}
            <div class="row">
                <div class="col-md-12"><hr /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><h4>Team members</h4></div>
                <div class="col-md-2 col-md-offset-2">
                </div>
            </div>
            <table class="member-container table table-hover col-md-offset-1">
                        {{ formset.management_form }}
                        <tr class="row">
                            <th class="col-md-4">User</th>
                            <th class="col-md-4">Role</th>
                            <th class="col-md-1">Active</th>
                            <th class="col-md-1">
                                <a href="#" class="btn btn-default add-user">Add Member</a>
                            </th>
                        </tr>
                        {% for user_form in formset %}
                            <tr id="user-{{ forloop.counter0 }}" class="row">

                                {{ user_form.id }}
                                <td class="col-md-4 user form-group">{{ user_form.user }}</td>
                                <td class="col-md-4 group">{{ user_form.group }}</td>
                                <td class="col-md-1">{{ user_form.is_active }}</td>
                            </tr>
                        {% endfor %}
            </table>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    {% for key, value in form.errors.items %}
                        {{ value }}
                    {% endfor %}
                    {% for error in formset.non_form_errors %}
                        {{ error }}
                    {% endfor %}
                    {% for error in formset.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <br />
            <div class="row">
                <button type="submit" class="btn btn-primary btn-lg">{% block btn_caption %}{% endblock %}</button>
            </div>
       </form>
    </div>

<script type="text/html" id="member-template">
    <tr id="user-<%= id %>" class="row">
        <td class="col-md-4 user"><select class="form-control" id="id_userteam_set-<%= id %>-user" name="userteam_set-<%= id %>-user">
        </select></td>
        <td class="col-md-4 group"><select class="form-control" id="id_userteam_set-<%= id %>-group" name="userteam_set-<%= id %>-group"><option> ------- </option></select></td>
        <td class="col-md-1"><input class="form-control" id="id_userteam_set-<%= id %>-is_active" name="userteam_set-<%= id %>-is_active" type="checkbox" checked="checked"></td>
        <input type="hidden" id="id_userteam_set-<%= id %>-id" name="userteam_set-<%= id %>-id" />
    </tr>
</script>
<script type="text/html" id="user-set"></script>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'supervision/js/underscore-min.js' %}"></script>
    <script src="{% static 'supervision/js/teams/team.create.js' %}"></script>
{% endblock %}
