{% extends 'supervision/base.html' %}

{% block content %}
    <div class="container">
        <div class="row"><h4 class="col-md-8">General</h4></div>
        <div class="row col-md-offset-2">
            <div class="col-md-2"><b>Name</b></div>
            <div class="col-md-8">{{ team.name }}</div>
            <div class="col-md-2">
                {% if user.can_be_kanban_master %}

                    <a href="{% url 'supervision:team_update' team.pk %}"
                       type="button" class="btn btn-primary btn-block">Edit</a>
                {% else %}
                    <br />
                {% endif %}
            </div>
        <div class="row col-md-offset-0">
            <div class="col-md-2"><b>Active</b></div>
            <div class="col-md-8">
                {% if object.is_active %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </div>
            <div class="col-md-2"></div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
        <div class="row">
            <div class="col-md-6"><h4>Team members</h4></div>
        </div>
        <div class="row col-md-offset-2">
            {% if team.users|length > 0 %}
            <table class="table table-hover">
                <tr>
                    <th class="col-md-4">Username</th>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-3">Surname</th>
                    <th class="col-md-4">Role</th>
                </tr>
            {% for ut in team.userteam_set.all %}
                {% if ut.is_active %}
                <tr>
                    <td class="col-md-4">{{ ut.user.email }}</td>
                    <td class="col-md-3">{{ ut.user.first_name }}</td>
                    <td class="col-md-3">{{ ut.user.last_name }}</td>
                    <td class="col-md-4">{{ ut.group.name }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
            {% else %}
            <div class="md-12"><h3>This team has no users</h3></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
