{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="text-center">Teams</h1>
                </div>
            </div>
            {% if user.can_be_kanban_master %}
            <p class="text-right">
                <a href="{% url 'supervision:team_create' %}" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Create Team
                </a>
            </p>
            {% endif  %}
            <div class="row">
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Is Active</th>
                                <th style="width: 60px"></th>
                                <th style="width: 60px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in teams %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>{{ object.name }}</td>
                                <td>
                                    {% if object.is_active %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'supervision:team_detail' pk=object.pk %}">Details</a></td>

                                {% if user.can_be_kanban_master %}
                                    <td><a href="{% url 'supervision:team_update' pk=object.pk %}">Update</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table table-filter">
                        <thead>
                            <tr><th>&nbsp;</th></tr>
                        </thead>
                        <tbody>
                            <tr><th class="bg-info">Filter by active</th></tr>
                            <tr><td><a href="{% url 'supervision:team_list' %}">All</a></td></tr>
                            <tr><td><a href="{% url 'supervision:team_list' is_active=True %}">Yes</a></td></tr>
                            <tr><td><a href="{% url 'supervision:team_list' is_active=False %}">No</a></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
