{% extends 'supervision/teams/base_form.html' %}

{% block title %}Update Team{% endblock title %}
{% block is_active_field %}
<div class="form-group row">
        <label for="{{ form.is_active.auto_id }}" class="col-sm-3 control-label">Is Active{% if form.is_active.field.required %}*{% endif %}</label>
        <div class="col-md-1 {% if form.is_active.errors %}has-error{% endif %}">
            {% if form.is_active.errors %}
                <label class="control-label" for="{{ form.is_active.auto_id }}">
                    {{ form.is_active.errors|striptags }}
                </label>
            {% endif %}
            {{ form.is_active }}

        </div>
</div>
{% endblock is_active_field %}
{% block btn_caption %}Save{% endblock btn_caption%}
