{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">{% block title %}{% endblock %}</h1>
        <br />
        <div class="col-md-6 col-md-offset-3">
            <form method="POST" class="form-horizontal" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.first_name.auto_id }}" class="col-sm-3 control-label">
                        First Name{% if form.first_name.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.first_name.errors %}has-error{% endif %}">
                        {% if form.first_name.errors %}
                            <label class="control-label" for="{{ form.first_name.auto_id }}">
                                {{ form.first_name.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.auto_id }}" class="col-sm-3 control-label">
                        Last Name{% if form.last_name.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.last_name.errors %}has-error{% endif %}">
                        {% if form.last_name.errors %}
                            <label class="control-label" for="{{ form.last_name.auto_id }}">
                                {{ form.last_name.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.email.auto_id }}" class="col-sm-3 control-label">
                        Email{% if form.email.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.email.errors %}has-error{% endif %}">
                        {% if form.email.errors %}
                            <label class="control-label" for="{{ form.email.auto_id }}">
                                {{ form.email.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.password_1.auto_id }}" class="col-sm-3 control-label">
                        Password{% if form.password_1.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.password_1.errors %}has-error{% endif %}">
                        {% if form.password_1.errors %}
                            <label class="control-label" for="{{ form.password_1.auto_id }}">
                                {{ form.password_1.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.password_1 }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.password_2.auto_id }}" class="col-sm-3 control-label">
                        Password again{% if form.password_2.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.password_2.errors %}has-error{% endif %}">
                        {% if form.password_2.errors %}
                            <label class="control-label" for="{{ form.password_2.auto_id }}">
                                {{ form.password_2.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.password_2 }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.groups.auto_id }}" class="col-sm-3 control-label">
                        Roles{% if form.groups.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.groups.errors %}has-error{% endif %}">
                        {% if form.groups.errors %}
                            <label class="control-label" for="{{ form.groups.auto_id }}">
                                {{ form.groups.errors|striptags }}
                            </label>
                        {% endif %}
                        {{ form.groups }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                {{ form.is_active }} Is Active
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">
                            {% block submit %}{% endblock %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
