{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">User Details</h1>
        <br />
        <div class="col-md-6 col-md-offset-3">
            <div class="form-horizontal user-details" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">{{ object.first_name }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">{{ object.last_name }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">{{ object.email }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Roles</label>
                    <div class="col-sm-9">
                        {% for group in object.groups.all %}
                            {{ group }},
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Is Active</label>
                    <div class="col-sm-9">{{ object.is_active }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
