{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="text-center">Users</h1>
                </div>
            </div>
            <p class="text-right">
                <a href="{% url 'supervision:user_create' %}" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Create User
                </a>
            </p>
            <div class="row">
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Is Active</th>
                                <th style="width: 60px"></th>
                                <th style="width: 60px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in users %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>{{ object.first_name }}</td>
                                <td>{{ object.last_name }}</td>
                                <td>{{ object.email }}</td>
                                <td>
                                    {% for group in object.groups.all %}
                                        {{ group.name }},
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if object.is_active %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'supervision:user_detail' pk=object.pk %}">Details</a></td>
                                <td><a href="{% url 'supervision:user_update' pk=object.pk %}">Update</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table table-filter">
                        <thead>
                            <tr><th>&nbsp;</th></tr>
                        </thead>
                        <tbody>
                            <tr><th class="bg-info">Filter by active</th></tr>
                            <tr><td><a href="{% url 'supervision:user_list' %}">All</a></td></tr>
                            <tr><td><a href="{% url 'supervision:user_list' is_active=True %}">Yes</a></td></tr>
                            <tr><td><a href="{% url 'supervision:user_list' is_active=False %}">No</a></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
