{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-center">Analytics</h1>
        </div>
    </div>

    <div class="row">
        <div>
            <ul>
                {% if user.can_be_kanban_master %}
                    <li>
                        <a href="{% url 'analytics:cumulative_choose' %}">
                            Cumulative flow diagram</a>
                    </li>
                    <li>
                        <a href="{% url 'analytics:average_lead_time_show' %}">
                        Average lead time
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'analytics:developer_contribution_choose' %}">
                            Developer contribution
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="{% url 'analytics:wip_choose' %}">
                        Wip violations list</a>
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}