{% extends 'supervision/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">Average lead time</h1>
            </div>
        </div>

        <div class="row">
            <form class="form-horizontal" role="form" action="{% url 'analytics:average_lead_time_selected' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                    <label for="board_id2" class="col-sm-2 control-label">
                        Board
                    </label>

                    <div class="col-sm-3">
                        <select id="board_id2" name="board" class="form-control" onChange="this.form.submit();">
                            <option value="">----</option>
                            {% for b in boards %}
                                <option value="{{ b.id }}"
                                        {% if selected_board.id == b.id %}
                                        selected="selected"
                                        {% endif %}>
                                    {{ b.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>

        {% if selected_board %}
            <div class="row">
            <form class="form-horizontal" role="form" action="{% url 'analytics:average_lead_time_choose' %}"
              method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="start_column_id" class="col-sm-2 control-label">
                        Start column
                    </label>

                    <div class="col-sm-3">
                        <select id="start_column_id" name="start_column" class="form-control" onChange="this.form.submit();">
                            {% if not start_columns %}
                                <option value="">----</option>
                            {% else %}
                                <option value="all">All columns</option>
                                {% for c in start_columns %}
                                    <option value="{{ c.id }}"
                                            {% if selected_start_column.id == c.id %}
                                            selected="selected"
                                            {% endif %}>
                                        {{ c.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <input type="hidden" name="board" value="{{ selected_board.id }}" />
                </div>
            </form>
            </div>

            <div class="row">
                <form class="form-horizontal" role="form" action="{% url 'analytics:average_lead_time_choose_end' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="stop_column_id" class="col-sm-2 control-label">
                        Stop column
                    </label>

                    <div class="col-sm-3">
                        <select id="stop_column_id" name="stop_column" class="form-control" onChange="this.form.submit();">
                            {% if not end_columns %}
                                <option value="">----</option>
                            {% else %}
                                <option value="all">All columns</option>
                                {% for c in end_columns %}
                                    <option value="{{ c.id }}"
                                            {% if selected_end_column.id == c.id %}
                                            selected="selected"
                                            {% endif %}>
                                        {{ c.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <input type="hidden" name="selected_board" value="{{ selected_board.id }}" />
                    <input type="hidden" name="selected_start_column" value="{{ selected_start_column.id }}" />
                </div>
                </form>
            </div>


            <div class="row">
                <form class="form-horizontal" role="form" action="{% url 'analytics:average_lead_time_show' %}"
                      method="POST">
                    {% csrf_token %}
                    {% include 'analytics/average_lead_time_card_subset.html' %}


                    <input type="hidden" name="selected_board" value="{{ selected_board.id }}" />
                    <input type="hidden" name="selected_start_column" value="{{ selected_start_column.id }}" />
                    <input type="hidden" name="selected_end_column" value="{{ selected_end_column.id }}" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-default margin-left-30">Draw</button>
                    </div>
                </form>
            </div>
        {% endif %}


        {% if no_cards %}
        <div class="warning-font">
            There is no cards yet on this board.
        </div>
        {% endif %}

        {% if error %}
        <div class="warning-font">
            No data to display.
        </div>
        {% endif %}

        {% if graph_data %}
            <div class="row">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#show-cards-dit">
                                    Details
                                </a>
                            </h4>
                        </div>
                        <div id="show-cards-dit" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    {% for el in sum %}
                                       <li>{{ el.0 }} : {{ el.1 }} days </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="cum_flow" class="cumulative-flow-style"></div>
            </div>
        {% endif %}

        <div style="height: 50px"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <link rel="stylesheet" href="{% static 'supervision/css/datepicker.css' %}" />
    <script type="text/javascript" src="{% static 'supervision/js/bootstrap-datepicker.js' %}"></script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                {% autoescape off %}
                    {% for line in graph_data %}
                        {{ line }},
                    {% endfor %}
                {% endautoescape %}
            ]);

            /*var data = google.visualization.arrayToDataTable([
              ['Card id', 'Analysis & Design', 'Coding', 'Testing', 'Integration', 'Documentation', 'Acceptance Ready', 'Acceptance', 'Average'],
              ['1',  2.7,      7,         0,             8.8,           1.3,      0,    1.3, 22],
              ['2',  2.7,      7,         0,             8.8,           1.3,      0,    1.3, 22],
              ['3',  2.7,      7,         0,             8.8,           1.3,      0,    1.3, 22],
              ['4',  2.7,      7,         0,             8.8,           1.3,      0,    1.3, 22],
              ['5',  2.7,      7,         0,             8.8,           1.3,      0,    1.3, 22],
            ]);*/

            var options = {
                title : 'Average lead time',
                vAxis: {title: "Time (days)"},
                hAxis: {title: "Card names"},
                seriesType: "bars",
                {% comment %}series: { {{ avg_attr_index }} : {type: "line"}}, {% endcomment %}
                isStacked: true
            };

            var chart = new google.visualization.ComboChart(document.getElementById('cum_flow'));
            chart.draw(data, options);
        }

        $(document).ready(function() {
            var dateFormat = {'format': 'dd.mm.yyyy'};
            $('#start_created_id').datepicker(dateFormat);
            $('#end_created_id').datepicker(dateFormat);

            $('#start_done_id').datepicker(dateFormat);
            $('#end_done_id').datepicker(dateFormat);

            $('#start_development_id').datepicker(dateFormat);
            $('#end_development_id').datepicker(dateFormat);
        });
    </script>

{% endblock %}
