
<div class="form-group">
    <h4>Select criteria for subset of cards:</h4>
</div>
<div class="form-group">
    <label for="project_id" class="col-sm-2 control-label">
        Project
    </label>

    <div class="col-sm-3">
        <select id="project_id" name="project" class="form-control">
            {% if not projects %}
                <option value="">----</option>
            {% else %}
                <option value="all">All projects</option>
                {% for p in projects %}
                    <option value="{{ p.id }}"
                            {% if selected_project.id == p.id %}
                            selected="selected"
                            {% endif %}>
                        {{ p.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">
        Card created interval
    </label>
    <div class="col-md-2">
        <div class="input-group date">
            <input type="text" id="start_created_id" name="created_start" class="form-control"
                    value="{{ created_from }}" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group date">
            <input type="text" id="end_created_id" name="created_end" class="form-control"
                    value="{{ created_to }}" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    {% if created_error %}
    <div class="col-sm-3 has-errors error-font">
        <label class="control-label">
                End date must be greater than start date.
        </label>
    </div>
    {% endif %}
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">
        Card done interval
    </label>
    <div class="col-md-2">
        <div class="input-group date">
            <input type="text" id="start_done_id" name="done_start" class="form-control"
                    value="{{ done_from }}" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group date">
            <input type="text" id="end_done_id" name="done_end" class="form-control"
                    value="{{ done_to }}" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    {% if done_error %}
    <div class="col-sm-3 has-errors error-font">
        <label class="control-label">
                End date must be greater than start date.
        </label>
    </div>
    {% endif %}
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">
        Development interval
    </label>
    <div class="col-md-2">
        <div class="input-group date">
            <input type="text" id="start_development_id" name="development_start"
                   class="form-control" value="{{ development_from }}"
                   pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group date">
            <input type="text" id="end_development_id" name="development_end"
                   class="form-control" value="{{ development_to }}"
                   pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    {% if development_error %}
    <div class="col-sm-3 has-errors error-font">
        <label class="control-label">
                End date must be greater than start date.
        </label>
    </div>
    {% endif %}
</div>

<div class="form-group">
    <label for="size_id1" class="col-sm-2 control-label">
        Card size (from-to)
    </label>

    <div class="col-sm-2">
        <input type="number" name="card_size_from" id="size_id1" class="form-control"
                value="{{ size_from }}"/>
    </div>

    <div class="col-sm-2">
        <input type="number" name="card_size_to" id="size_id2" class="form-control"
                value="{{ size_to }}"/>
    </div>
</div>

<div class="form-group">
    <label for="type_id" class="col-sm-2 control-label">
        Card type
    </label>

    <div class="col-sm-3">
        <select id="type_id" name="type" class="form-control">
            <option value="all">All cards</option>
            <option value="regular" {% if is_regular %}selected="selected"{% endif %}>
                New functionality</option>
            <option value="silver" {% if is_silver %}selected="selected"{% endif %}>
                Silver bullet</option>
            <option value="rejected" {% if is_rejected %}selected="selected"{% endif %}>
                Rejected</option>
        </select>
    </div>
</div>
