{% extends 'supervision/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">Cumulative flow diagram</h1>
            </div>
        </div>

        <div class="row">
            <form class="form-horizontal" role="form" action="{% url 'analytics:cumulative_board_selected' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                    <label for="board_id2" class="col-sm-2 control-label">
                        Board
                    </label>

                    <div class="col-sm-3">
                        <select id="board_id2" name="board" class="form-control" onChange="this.form.submit();">
                            <option value="">----</option>
                            {% for b in boards %}
                                <option value="{{ b.id }}"
                                        {% if selected_board.id == b.id %}
                                        selected="selected"
                                        {% endif %}>
                                    {{ b.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </form>
        </div>

        {% if selected_board %}
            <div class="row">
                <form class="form-horizontal" role="form" action="{% url 'analytics:cumulative_show' %}"
                      method="POST">
                    {% csrf_token %}
                    {% include 'analytics/card_subset_form.html' %}

                    <div class="form-group">
                        <label for="columns" class="col-sm-2 control-label">
                            Show columns
                        </label>

                        <div class="col-sm-3">
                            <select id="columns" name="columns_subset" class="form-control">
                                <option value="subcols">
                                    Just sub-columns</option>
                                <option value="all" {% if allcols_selected %}selected="selected"{% endif %}>
                                    All columns</option>
                            </select>
                        </div>
                    </div>

                    <input type="hidden" name="selected_board" value="{{ selected_board.id }}" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-default margin-left-30">Draw</button>
                    </div>
                </form>
            </div>
        {% endif %}


        {% if no_cards %}
        <div class="warning-font">
            There is no cards yet on this board.
        </div>
        {% endif %}

        {% if graph_data %}
            <div class="row">
                <div id="cum_flow" class="cumulative-flow-style"></div>
            </div>
        {% endif %}

        <div style="height: 50px"></div>

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <link rel="stylesheet" href="{% static 'supervision/css/datepicker.css' %}" />
    <script type="text/javascript" src="{% static 'supervision/js/bootstrap-datepicker.js' %}"></script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                {% autoescape off %}
                    {% for line in graph_data %}
                        {{ line }},
                    {% endfor %}
                {% endautoescape %}
            ]);

            var options = {
                title: 'Cumulative Flow diagram',
                legend: {
                    position: 'right'
                },
                chartArea: {
                    left: 50
                },
                pointSize: 5,
                isStacked: true
            };

            var chart = new google.visualization.AreaChart(document.getElementById('cum_flow'));
            chart.draw(data, options);
        }

        $(document).ready(function() {
            var dateFormat = {'format': 'dd.mm.yyyy'};
            $('#start_date_id').datepicker(dateFormat);
            $('#end_date_id').datepicker(dateFormat);

            $('#start_created_id').datepicker(dateFormat);
            $('#end_created_id').datepicker(dateFormat);

            $('#start_done_id').datepicker(dateFormat);
            $('#end_done_id').datepicker(dateFormat);

            $('#start_development_id').datepicker(dateFormat);
            $('#end_development_id').datepicker(dateFormat);
        });
    </script>

{% endblock %}
