{% extends 'supervision/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">Developer contribution</h1>
            </div>
        </div>

        <div class="row">
            <form class="form-horizontal" role="form"
                  action="{% url 'analytics:dev_contr_board_selected' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="board_id2" class="col-sm-2 control-label">
                        Board
                    </label>

                    <div class="col-sm-3">
                        <select id="board_id2" name="board" class="form-control"
                                onChange="this.form.submit();">
                            <option value="">----</option>
                            {% for b in boards %}
                                <option value="{{ b.id }}"
                                        {% if selected_board.id == b.id %}
                                        selected="selected"
                                        {% endif %}>
                                    {{ b.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>

        {% if selected_board %}
            <div class="row">
                <form class="form-horizontal" role="form"
                      action="{% url 'analytics:developer_contribution' %}"
                      method="POST">
                    {% csrf_token %}
                    {% include 'analytics/average_lead_time_card_subset.html' %}

                    <input type="hidden" name="selected_board" value="{{ selected_board.id }}"/>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg margin-left-30">Draw</button>
                    </div>
                </form>
            </div>
        {% endif %}

        {% if no_cards %}
            <div class="warning-font">
                There is no cards yet on this board.
            </div>
        {% endif %}

        {% if dev_contribution %}
            <div class="row">
                <table class="table table-responsive">
                        <tr>
                            <th class="col-md-2">Developer</th>
                            <th class="col-md-2">Card Count</th>
                            <th class="col-md-2">Points</th>
                        </tr>
                    {% for dev in dev_contribution %}
                        <tr>
                            <td class="col-md-2">{{ dev.name }}</td>
                            <td class="col-md-2">{{ dev.card_count }}</td>
                            <td class="col-md-2">{{ dev.points }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row">
                <div id="piechart_cards" class="col-md-3" style="width: 45%; height: 400px;"></div>
                <div id="piechart_points" class="col-md-3" style="width: 45%; height: 400px;"></div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="{% static 'supervision/css/datepicker.css' %}"/>
    <script type="text/javascript"
            src="{% static 'supervision/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data_cards = google.visualization.arrayToDataTable([
                ['Developer', 'Task Count'],
                {% for dev in dev_contribution %}
                    ['{{ dev.name }}', {{ dev.card_count }}],
                {% endfor %}
            ]);

            var data_points = google.visualization.arrayToDataTable([
                ['Developer', 'Point Count'],
                {% for dev in dev_contribution %}
                    ['{{ dev.name }}', {{ dev.points }}],
                {% endfor %}
            ]);

            var chart = new google.visualization.PieChart(document.getElementById('piechart_cards'));
            chart.draw(data_cards, {title: 'Contribution By Cards'});

            var chart_points = new google.visualization.PieChart(document.getElementById('piechart_points'));
            chart_points.draw(data_points, {title: 'Contribution By Points'});
        }

        $(document).ready(function () {
            var dateFormat = {'format': 'dd.mm.yyyy'};
            $('#start_date_id').datepicker(dateFormat);
            $('#end_date_id').datepicker(dateFormat);

            $('#start_created_id').datepicker(dateFormat);
            $('#end_created_id').datepicker(dateFormat);

            $('#start_done_id').datepicker(dateFormat);
            $('#end_done_id').datepicker(dateFormat);

            $('#start_development_id').datepicker(dateFormat);
            $('#end_development_id').datepicker(dateFormat);
        });
    </script>

{% endblock %}
