{% extends 'supervision/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">WIP violations</h1>
            </div>
        </div>

        <div class="row">
            <form class="form-horizontal" role="form" action="{% url 'analytics:wip_board_selected' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                    <label for="board_id2" class="col-sm-2 control-label">
                        Board
                    </label>

                    <div class="col-sm-3">
                        <select id="board_id2" name="board" class="form-control" onChange="this.form.submit();">
                            <option value="">----</option>
                            {% for b in boards %}
                                <option value="{{ b.id }}"
                                        {% if selected_board.id == b.id %}
                                        selected="selected"
                                        {% endif %}>
                                    {{ b.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </form>
        </div>

        {% if selected_board %}
            <div class="row">
                <form class="form-horizontal" role="form" action="{% url 'analytics:wip_violations_show' %}"
                      method="POST">
                    {% csrf_token %}
                    {% include 'analytics/card_subset_form.html' %}

                    <input type="hidden" name="selected_board" value="{{ selected_board.id }}" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-default margin-left-30">Show</button>
                    </div>
                </form>
            </div>
        {% endif %}


        {% if no_history %}
        <div class="warning-font">
            There are no violations for these conditions.
        </div>
        {% endif %}

        {% if card_history %}
            <div class="row">
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Card name</th>
                                <th>Violation date</th>
                                <th>Violation column</th>
                                <th>Violation type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ch in card_history %}
                            <tr>
                                <td>
                                    {% if ch.card %}
                                        {{ ch.card.pk }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ch.card %}
                                        {{ ch.card.name }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ ch.time_created }}</td>
                                <td>{{ ch.column_to }}</td>
                                <td>{{ ch.action }}</td>
                                <td>{{ ch.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        {% endif %}

    </div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'supervision/css/datepicker.css' %}" />
    <script type="text/javascript" src="{% static 'supervision/js/bootstrap-datepicker.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var dateFormat = {'format': 'dd.mm.yyyy'};
            $('#start_date_id').datepicker(dateFormat);
            $('#end_date_id').datepicker(dateFormat);

            $('#start_created_id').datepicker(dateFormat);
            $('#end_created_id').datepicker(dateFormat);

            $('#start_done_id').datepicker(dateFormat);
            $('#end_done_id').datepicker(dateFormat);

            $('#start_development_id').datepicker(dateFormat);
            $('#end_development_id').datepicker(dateFormat);
        });
    </script>

{% endblock %}

