{% extends 'supervision/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">{% block title %}{% endblock %}</h1>
        <br />
        <div class="col-md-6 col-md-offset-3">
            <form method="POST" class="form-horizontal" role="form">
                {% csrf_token %}
                {{ form.confirm_wip_violation }}
                <div class="form-group">
                    <label for="{{ form.name.auto_id }}" class="col-sm-3 control-label">
                        Name{% if form.name.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.name.errors %}has-error{% endif %}">
                        {% if form.name.errors %}
                            <label class="control-label" for="{{ form.name.auto_id }}">
                                <dl>
                                {% for error in form.name.errors %}
                                    <dd class="text-left">{{ error|striptags }}</dd>
                                {% endfor %}
                                </dl>
                            </label>
                        {% endif %}
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.deadline.auto_id }}" class="col-sm-3 control-label">
                        Deadline{% if form.deadline.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.deadline.errors %}has-error{% endif %}">
                        {% if form.deadline.errors %}
                            <label class="control-label" for="{{ form.deadline.auto_id }}">
                                <dl>
                                {% for error in form.deadline.errors %}
                                    <dd class="text-left">{{ error|striptags }}</dd>
                                {% endfor %}
                                </dl>
                            </label>
                        {% endif %}
                        {{ form.deadline }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.assignee.auto_id }}" class="col-sm-3 control-label">
                        Assignee{% if form.assignee.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.assignee.errors %}has-error{% endif %}">
                        {% if form.assignee.errors %}
                            <label class="control-label" for="{{ form.assignee.auto_id }}">
                                <dl>
                                {% for error in form.assignee.errors %}
                                    <dd class="text-left">{{ error|striptags }}</dd>
                                {% endfor %}
                                </dl>
                            </label>
                        {% endif %}
                        {{ form.assignee }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.size.auto_id }}" class="col-sm-3 control-label">
                        Size{% if form.size.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.size.errors %}has-error{% endif %}">
                        {% if form.size.errors %}
                            <label class="control-label" for="{{ form.size.auto_id }}">
                                <dl>
                                {% for error in form.size.errors %}
                                    <dd class="text-left">{{ error|striptags }}</dd>
                                {% endfor %}
                                </dl>
                            </label>
                        {% endif %}
                        {{ form.size }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.color.auto_id }}" class="col-sm-3 control-label">
                        Color{% if form.color.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.color.errors %}has-error{% endif %}">
                        {% if form.color.errors %}
                            <label class="control-label" for="{{ form.color.auto_id }}">
                                <dl>
                                {% for error in form.color.errors %}
                                    <dd class="text-left">{{ error|striptags }}</dd>
                                {% endfor %}
                                </dl>
                            </label>
                        {% endif %}
                        <input type="color" name="{{ form.color.name }}" id="{{ form.color.auto_id }}" class="form-control"
                                value="{% if form.color.value %}{{ form.color.value }}{% else %}#ffffff{% endif %}"/>
                    </div>
                </div>
                {% block additional_fields %}{% endblock additional_fields %}
                <div class="form-group">
                    <label for="{{ form.description.auto_id }}" class="col-sm-3 control-label">
                        Description{% if form.description.field.required %}*{% endif %}
                    </label>
                    <div class="col-sm-9 {% if form.description.errors %}has-error{% endif %}">
                        {% if form.description.errors %}
                            <label class="control-label" for="{{ form.description.auto_id }}">
                                <dl>
                                {% for error in form.description.errors %}
                                    <dd class="text-left">{{ error|striptags }}</dd>
                                {% endfor %}
                                </dl>
                            </label>
                        {% endif %}
                        {{ form.description }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">
                            {% block submit %}{% endblock %}
                        </button>
                    </div>
                </div>

                {# Violation Modal #}
                <div class="modal fade" id="modal_violation">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Confirm action</h4>
                            </div>
                            <div class="modal-body">
                                {% if form.wip_cause.errors %}
                                    <p>{{ form.wip_cause.errors.0 }}</p>
                                    {{ form.wip_cause }}
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% if form.wip_cause.errors %}
    <script type="text/javascript">
        $('#modal_violation').modal();
    </script>
    {% endif %}

    <link rel="stylesheet" href="{% static 'supervision/css/datepicker.css' %}" />
    <script type="text/javascript" src="{% static 'supervision/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'supervision/js/cards/script.js' %}"></script>
{% endblock %}
