{% extends 'supervision/cards/base_form.html' %}


{% block title %}Create Card{% endblock %}

{% block additional_fields %}
<div class="form-group">
    <label for="{{ form.priority.auto_id }}" class="col-sm-3 control-label">
        Priority{% if form.priority.field.required %}*{% endif %}
    </label>
    <div class="col-sm-9 {% if form.priority.errors %}has-error{% endif %}">
        {% if form.priority.errors %}
            <label class="control-label" for="{{ form.priority.auto_id }}">
                <dl>
                {% for error in form.priority.errors %}
                    <dd class="text-left">{{ error|striptags }}</dd>
                {% endfor %}
                </dl>
            </label>
        {% endif %}
        {{ form.priority }}
    </div>
</div>
{% endblock additional_fields %}

{% block submit %}Create{% endblock %}
