{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Card Details</h1>
        <br />
        <div class="col-md-6 col-md-offset-3">
            <div class="form-horizontal user-details" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">{{ card.name }}</div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Deadline</label>
                    <div class="col-sm-9">{{ card.deadline|date:"d.m.Y"|default:"/" }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Assignee</label>
                    <div class="col-sm-9">{{ card.assignee|default:"/" }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Size</label>
                    <div class="col-sm-9">{{ card.size|default:"/" }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Project</label>
                    <div class="col-sm-9">{{ card.project }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Color</label>
                    <div class="col-sm-9">{{ card.color }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Priority</label>
                    <div class="col-sm-9">{{ card.get_priority_display }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-9">{{ card.get_card_type_display }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Column</label>
                    <div class="col-sm-9">{{ card.column }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">{{ card.description }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Is Active</label>
                    <div class="col-sm-9">{{ card.is_active }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <h3 class="text-center"> Card history</h3>
        <div class="form-group">
            {% if card.cardhistory_set.all %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>From Column</th>
                        <th>To Column</th>
                        <th>User</th>
                        <th>Action</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in card.cardhistory_set.all %}
                    <tr>
                        <td>{{ history.time_created|date:"d.m.Y - H:i" }}</td>
                        <td>{{ history.column_from.name|default:"/" }}</td>
                        <td>{{ history.column_to.name }}</td>
                        <td>{{ history.user.first_name }} {{ history.user.last_name }}</td>
                        <td>{{ history.get_action_display }}</td>
                        <td>{{ history.description|default:'/' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p class="text-center">Card history is empty.</p>
            {% endif %}
        </div>
    </div>
</div>

{% include 'boards/subtasks.html' %}
{% endblock %}
