{% extends 'supervision/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="text-center">Cards</h1>
                </div>
            </div>
            <p class="text-right">
                <a href="{% url 'supervision:card_create' %}" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Create Card
                </a>
            </p>
            <div class="row">
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Priority</th>
                                <th>Deadline</th>
                                <th>Project</th>
                                <th>Card Type</th>
                                <th>Is Active</th>
                                <th style="width: 60px"></th>
                                <th style="width: 60px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for card in card_list %}
                            <tr>
                                <td>{{ card.pk }}</td>
                                <td>{{ card.name }}</td>
                                <td>{{ card.priority }}</td>
                                <td>{{ card.deadline|date:"d.m.Y" }}</td>
                                <td>{{ card.project }}</td>
                                <td>{{ card.get_card_type_display }}</td>
                                <td>
                                    {% if card.is_active %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove"></span>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'supervision:card_detail' pk=card.pk %}">Details</a></td>
                                <td><a href="{% url 'supervision:card_update' pk=card.pk %}">Update</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <table class="table table-filter">
                        <thead>
                            <tr><th>&nbsp;</th></tr>
                        </thead>
                        <tbody>
                            <tr><th class="bg-info">Filter by active</th></tr>
                            <tr><td><a href="{% url 'supervision:card_list' %}">All</a></td></tr>
                            <tr><td><a href="{% url 'supervision:card_list' is_active=True %}">Yes</a></td></tr>
                            <tr><td><a href="{% url 'supervision:card_list' is_active=False %}">No</a></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
